[submodule "Vundle.vim"]
	path = bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git

[submodule "nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git

[submodule "vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git

[submodule "vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git

[submodule "vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
